:root {

    --grey: #f0eef1;
    --black: #050505;
    --red: #ff7070;
    --light-green: #9fff9c;
    --light-red: #ff9c9c;
    --border-radius: 8px;
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 15px;
    --spacing-lg: 20px;
    --spacing-xl: 40px;
    --container-width: 1200px;
    --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    --ReallyDark: #000000;
    --Dark: #121212;
    --SemiDark: #1e1e1e;
    --nearSemiDark: #1f1f1f;
    --pink: #c38ffe;
    --green: #01dbc9;
    --white: #e1e1e1;
    --greyb: #9e9e9e;
}


/* CSS RESET */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    /* footer support */
    position: relative;
    min-height: 100%;
}

body {

/*    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
*/
    background-color: var(--Dark)!important;
    color: var(--black);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    word-wrap: break-word;
    /* footer support */
    margin-bottom: 100px;
}

button,
input {
    border: none;
    color: #202124;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
    outline: none;
}

    input[type='text'],
    input[type='number'] {
        cursor: text;
    }


/* UTILS */
.container {
    max-width: var(--container-width);
    padding: var(--spacing-lg);
    margin: 0 auto;
}

.button {
    margin-top: 30px;
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--border-radius);
    transition: filter 0.15s ease-in-out;
    text-align: center;
    justify-content: center;
    height: 60px;
    background-color: #03DAC6;
    color: var(--Dark);
    font-weight: 500;
    margin-left: 20px;
}

    .button:hover {
        filter: brightness(90%);
    }

    .button:active {
        transform: scale(0.95);
        transition: all 0.05s linear
    }

.btn-add {
    font-size: 24px;
    font-weight: 600;
}

.btn-light-green {
    background-color: var(--light-green);
}

.btn-light-red {
    background-color: var(--light-red);
}

.dissapear {
    visibility: hidden;
}


/* HEADER */
.header {
    background-color: var(--nearSemiDark);
    color: var(--white);
    box-shadow: var(--shadow);
}

    .header .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


/* MAIN */
.form-group {
    padding: 10px;
}

.form-control, .form-select {
    margin: 10px !important;
    background-color: darkgrey !important;
    border-color: inherit !important;
    color: var(--Dark) !important;
    border-radius:0.8rem !important;
}

.main {
    margin-top: var(--spacing-lg);
    text-align: center;
}

.issues-grid {
    display: flex;
    justify-content: center;
    gap: var(--spacing-xl);
    margin-top: var(--spacing-xl);
    padding-left:0px !important;
}

.issue-card {
    padding-left: 0px !important;
    display: flex;
    width: 350px;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    gap: var(--spacing-lg);
    padding: var(--spacing-lg);
    border-radius: var(--border-radius);
    background-color: var(--SemiDark);
    box-shadow: var(--shadow);
    line-height: 1.2;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
}

label {
    color: var(--white);
    margin-bottom: 0px;
}

.titleLabel {
    background-color: #202124;
    margin-bottom: 10px;
    font-size: 30px !important;
}


