
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="~/style/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.7.1/firebase-firestore.js"></script>




</head>
<body>
    <header class="header">
        <div class="container">
            <h1>Issue Manager</h1>
        </div>
    </header>

    <main class="main container" id="root">

        <div id="issuesGrid" class="issues-grid">

            <form method="get" class="issue-card" id="issueForm">
                <div class="issue-content">
                    <div class="form-group">
                        <label>Title</label>
                        <br>
                        <input type="text" id="title" class="form-control title-class">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <br>
                        <textarea class="form-control description-class" id="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Severity</label>
                        <select class="form-select severity-class" id="severity">
                            <option value="none">Select one</option>
                            <option value="High">High</option>
                            <option value="Medium">Medium</option>
                            <option value="Low">Low</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Status</label>
                        <select class="form-select status-class" id="status">
                            <option value="none">Select one</option>
                            <option value="To do">To do</option>
                            <option value="Doing">Doing</option>
                            <option value="Done">Done</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Asignee</label>
                        <select class="form-select asignee-class" id="asignee">
                            <option >Open this select menu</option>
                            <option v-for="item in asigneeList" :value="item.name">{{item.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="button-group">
                    <button type="submit" class="button submit-class" id="submit" form="issueForm">Submit</button>
                    <button class="button">Remove</button>
                </div>
            </form>
        </div>

    </main>

    <footer>
        <script>
            const url = "https://jsonplaceholder.typicode.com/";
            var app = new Vue({
                el: "#root",
                data: {
                    /*msg: "Proyecto",*/
                    asigneeList: []

                },

                created: function () {
                    axios.get(url + "users")
                        .then(function (response) {
                            /*console.table(response.data);*/
                            app.asigneeList = response.data;
                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                }
            });

            const ws = new WebSocket("ws://localhost:8083");

            ws.addEventListener("open", () => {
                console.log("We are conncected")

                ws.send("Hi")
            });




        </script>
        

        <script src="~/JavaScript/JavaScript.js"></script>
    </footer>
    
</body>
</html>
